#login{
width:500px;
margin: 0 auto;
padding:7px;  
text-align: center;  
background-color: antiquewhite;
border-radius: 10px;
border: 2px solid black
}
.userimg{
    width:150px;
    text-align:center;
    
}
.loginform{
    width:450px;
    margin:0 auto;
    font-weight: bold;
    font-size: 20px;
}
.inputval{
    width:430px;
    margin:0 auto;
    padding:7px;

}
#loginbtn{
    background-color: rgb(53, 216, 53) ;
    padding:7px;
    margin-top: 10px;
    width:100%;
    font-size:20px;
    font-weight: bold;
    color:white;
    text-align: center;
}
#registerbtn{
    background-color: rgb(78, 90, 247) ;
    padding:7px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
    font-size:20px;
    font-weight: bold;
    color:white;
    text-align: center;
}
#backbtn{
    background-color: rgb(255, 208, 0) ;
    padding:7px;
    margin-bottom: 20px;
    width:60%;
    font-size:20px;
    font-weight: bold;
    color:white;
    text-align: center;
}